{% extends "layout.html" %}

{% block title %}Admin Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-color: #00833a;
      color: #fff;
      padding: 100px 25px 50px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #00833a;
      font-size: 50px;
  }
  .logo {
      color: #00833a;
      font-size: 220px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .panel {
      border: 1px solid #0CAB93;
      border-radius:0;
      transition: box-shadow 0.5s;
  }

  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

  .panel-footer .btn:hover {
      border: 1px solid #D9534F;
      background-color: #fff !important;
      color: #D9534F;
  }

  .panel-heading {
      color: #fff !important;
      background-color: #0CAB93 !important;
      padding: 5px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }

  .panel-footer {
      background-color: #fff !important;
  }

  .panel-footer h3 {
      font-size: 32px;
  }

  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }

  .panel-footer .btn {
      margin: 15px 0;
      background-color: #D9534F;
      color: #fff;
  }

  .navbar {
      margin-bottom: 0;
      background-color: #00833a;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #00833a !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #00833a;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;  
      animation-duration: 1s; 
      -webkit-animation-duration: 1s;
      visibility: visible;      
  }
  @keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    } 
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

  </style>
{% endblock %}

{% block content %}

{% if loggedIn == False %}
<body>
<div class="jumbotron text-center">
  <div class="row">
    <div class="col-sm-offset-7 col-sm-4">
    <div style="text-align: right;">
        <img width="50%" src="{{ url_for('static', filename='img/logo.png') }}"> 
      </div>
      </div>
      <div class="col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2">
    <h1 style="font-size:40px;">Admin</h1><br />
    </div>
    
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
  <div class="">
    <form method="POST" action="" class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-2">
        <input type="text" class="form-control" name="username" placeholder="Enter username">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-2">          
        <input type="password" class="form-control" name="password" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-5 col-sm-2">
        <button type="submit" class="btn btn-danger btn-lg">Login</button>
      </div>
    </div>
  </form>
  </div>
  </div>
</div>

{% else %}

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" onclick="window.location.href = '/logout';return false;" href="">LOGOUT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#projects">PROJECTS</a></li>
        <li><a href="#users">USERS</a></li>
        <li><a href="#reports">REPORTS</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-5">
    <h1 style="font-size:40px;">Admin</h1>
    </div>
    <div class="col-sm-offset-2 col-sm-4">
      <img width="50%" src="{{ url_for('static', filename='img/logo.png') }}"> 
    </div>

  </div>
</div>

<div id="projects" class="container-fluid text-center">
  <h2>ALL PROJECTS</h2>
  <h3>See all existing projects here.</h3><br />
  <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
  {{ all_projects_map.js }}
  {{ all_projects_map.html }}
  </div>
  <div class="col-sm-1"></div>
  </div>
  <br><br>
  <div class="row slideanim">
    {% for item in all_projects %}
        <div class="col-sm-4">
        <div class="panel panel-default text-center" style="text-align:justify">
          <div class="panel-heading" style="text-align:center">
            <h1 style="font-size: 30px;">{{ item.name }}</h1>
          </div>
          <div class="panel-body">
            <p><strong>Address: </strong>{{ item.address }}, Glasgow UK</p>
            <p><strong>Available: </strong>{{ item.count }}/{{ item.num_people }} people</p>
            <p><strong>Description: </strong>{{ item.description }}</p>
          </div>
          <div class="panel-footer plan" style="text-align:center">
          <form action="/admin/email/{{ item.id }}" method="GET">
              <button type="submit" class="btn btn-lg">Send email to participants</button>
            </form>
        </div>
        </div>
        </div>
    {% endfor %}
  </div>
</div>
<div id="add_new_project" class="container-fluid bg-grey">
  <div class="row">

    <div class="col-sm-offset-2 col-sm-5">
    <h2>Create a new project</h2>
      <form action="/new_project" method="POST" class="form-group">
          <div class="row form-group">
          <div class="col-sm-12">
              <label for="ex1">Name</label>
              <input type="text" name="name" class="form-control" placeholder="First Name" required>
          </div>
          </div>
          <div class="row form-group">
        <div class="col-sm-6">
              <label for="ex1">Date</label>
              <input type="text" name="date" class="form-control" placeholder="Date" required>
          </div>
          <div class="col-sm-6 form-group">
              <label for="ex1">Number of People</label>
              <input type="text" name="num_people" class="form-control" placeholder="Number of people" required>
          </div>
          </div>
          <div class="row">
          <div class="col-sm-12 form-group">
              <label for="ex1">Address</label>
              <input type="text" name="address" class="form-control" placeholder="Address" required>
          </div>
          <div class="row">
          <div class="col-sm-12 form-group" style="margin: 15px">
              <label for="ex1">Description</label>
              <textarea name="description" style="width: 95%" class="form-control" placeholder="Description" required></textarea>
          </div>
          </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">  
            <button type="submit" class="btn btn-danger btn-lg">Create</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-5">
    <div style="text-align: center;margin:50px;"><span class="glyphicon glyphicon-cog logo slideanim"></span></div>
    </div>
  </div>
</div>

<div id="users" class="container-fluid text-center">
<h2>ALL USERS</h2>
  <h3>See all existing users here.</h3><br />
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
  {{ all_users_map.js }}
  {{ all_users_map.html }}
  </div>
  <div class="col-sm-1"></div>
  </div>
  <br><br>
  <div class="row slideanim">
    {% for item in all_users %}
        <div class="col-sm-3">
        <div class="panel panel-default text-center" style="text-align:justify">
          <div class="panel-heading" style="text-align:center">
            <h1 style="font-size: 30px;">{{ item.first_name }} {{ item.last_name }}</h1>
          </div>
          <div class="panel-body">
            <p><strong>Email: </strong>{{ item.email }}</p>
            <p><strong>Phone: </strong>{{ item.phone }} </p>
            <p><strong>Postcode: </strong>{{ item.address }}</p>
          </div>
        </div>
        </div>
    {% endfor %}
</div>

</div>
<div id="register_user" class="container-fluid bg-grey">
  <div class="row">

    <div class="col-sm-offset-2 col-sm-5">
    <h2>Register a new user</h2>
      <form action="/register?ref=admin" method="POST" class="form-group">
          <div class="row form-group">
          <div class="col-sm-6">
              <label for="ex1">First Name</label>
              <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
          </div>
          <div class="col-sm-6">
              <label for="ex1">Last Name</label>
              <input type="text" name="last_name" class="form-control" size="13" placeholder="Last Name" required>
          </div>
          </div>
          <div class="row form-group">
        <div class="col-sm-12">
              <label for="ex1">Email Address</label>
              <input type="email" name="email" class="form-control" size="30" placeholder="Email Address" required>
          </div>
          </div>
          <div class="row">
          <div class="col-sm-12 form-group">
              <label for="ex1">Password</label>
              <input type="password" name="password" class="form-control" size="30" placeholder="Password" required>
          </div>
          </div>
          <div class="row">
          <div class="col-sm-6 form-group">
              <label for="ex1">Phone Number</label>
              <input type="text" name="phone" class="form-control" size="30" placeholder="Phone number" required>
          </div>
          <div class="col-sm-6 form-group">
              <label for="ex1">Postcode</label>
              <input type="text" name="address" class="form-control" size="30" placeholder="Postcode - e.g. G13 1AE" required>
          </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">  
            <button type="submit" class="btn btn-danger btn-lg">Register</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-5">
    <div style="text-align: center;margin:50px;"><span class="glyphicon glyphicon-cog logo slideanim"></span></div>
    </div>
  </div>
</div>

<div id="reports" class="container-fluid text-center">
  <h2>ALL REPORTS</h2>
  <h3>See all existing reports, requests and issues here.</h3><br />
  <div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
  {{ all_issues_map.js }}
  {{ all_issues_map.html }}
  </div>
  <div class="col-sm-1"></div>
  </div>
  <br><br>
  <div class="row slideanim">
    {% for item in all_issues %}
        <div class="col-sm-4">
        <div class="panel panel-default text-center" style="text-align:justify">
          <div class="panel-heading" style="text-align:center">
            <h1 style="font-size: 30px;">{{ item.data.kind }}</h1>
          </div>
          <div class="panel-body">
            <p><strong>Date: </strong>{{ item.data.date }}</p>
            <p><strong>Location: </strong>({{ item.data.lat }}, {{ item.data.lng }})</p>
            <p><strong>Description: </strong>{{ item.data.description }}</p>
            <p style="text-align:center;"><img style="border: 1px solid black; border-radius: 5px;height:400px;" alt="image" src="https://4019e606.ngrok.com/issue_image/{{ item.data.id }}"></p>
          </div>
          <div class="panel-footer plan" style="text-align:center">
          <form action="/resolve_issue" method="POST">
              <input type="hidden" name="issue_id" value="{{ item.data.id }}">
              <button type="submit" class="btn btn-lg"><span class="glyphicon glyphicon-remove"></span>&nbsp;Resolve</button>
            </form>
        </div>
        </div>
        </div>
    {% endfor %}
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Back to top</p>    
</footer>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){
   
      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });
  });
  
  // Slide in elements on scroll
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

{% endif %}

</body>


{% endblock %}

    
