{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
   /* extend here */
  </style>
{% endblock %}

{% block content %}
  <h1>Sign In</h1>
  <form action="/check_login" method="post" name="login">
  	<label for = "username"> Username </label><input id = "username" type = "text" />
  	<label for = "password"> Password </label><input id = "password" type = "password" />
  	<p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}
