{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
   /* extend here */
  </style>
{% endblock %}

{% block content %}
  <h1>Register</h1>
  <form action="" method="post" name="register">
    <label for = "first_name"> First Name </label><input id = "first_name" name = "first_name" type = "text" />
    <label for = "last_name"> Last Name </label><input id = "last_name" name = "last_name" type = "text" />
  	<label for = "email"> Email </label><input id = "email" name = "email" type = "text" />
  	<label for = "password"> Password </label><input id = "password" name = "password" type = "password" />
  	<p><input type="submit" value="Register"></p>
  </form>
{% endblock %}
